.banner {
  background-image: url('../img/bannerp.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.banner h1 {
  font-size: 4rem;
  color: #d1cccc;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.coupon-tag {
  background: #2D1B3A;
  color: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
  margin: 1rem 0;
}
.offer-end{
  color: #d1cccc;

}
.products-section {
  padding: 4rem 2rem;
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.product-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.category-card {
  text-align: center;
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.category-card img {
    width: 100%;
    height: 300px; /* altura fija para todas las imágenes */
    object-fit: cover; /* mantiene la proporción de la imagen */
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .category-card:hover img {
    transform: scale(1.05);
  }
  
  .category-card a {
    text-decoration: none;
    color: inherit;
  }
  
  .banner-content {
    background: rgba(0, 0, 0, 0.6); /* fondo semi-transparente para mejor legibilidad */
    padding: 2rem;
    border-radius: 10px;
  }

.category-card h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
}


/* Media queries para diferentes tamaños de pantalla */
@media (min-width: 768px) {
    .product-categories {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 767px) {
    .product-categories {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .banner-content {
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .product-categories {
      grid-template-columns: 1fr;
    }
    
    .category-card {
      max-width: 100%;
    }
    
    .banner {
      min-height: 250px;
    }
    
    .coupon-tag {
      padding: 0.5rem;
    }
    
    .coupon-tag h2 {
      font-size: 1.5rem;
    }
  }


